<section class="listapp">
    <header class="header">
        <h1>List Maker</h1>
        <label>List Title:</label>
        <input class="new-list-title"
            placeholder="Write the title"
            autofocus=""
            [(ngModel)]="newListElement.title">
        <label>Content:</label>
        <input class="new-list-title"
            placeholder="add the content"
            [(ngModel)]="newListElement.content">
        <label>Author:</label>
        <input class="new-list-title"
            placeholder="add the author"
            [(ngModel)]="newListElement.author">
        <button *ngIf="!isEditMode" (click)="addListElement()">Add list</button>
        <button *ngIf="isEditMode" (click)="clearHeader()">Done Editing</button>
    </header>
    <section class="main" *ngIf="list.length > 0">
        <ul class="list-all">
            <li *ngFor="let element of list">
                <div class="view">
                    <h3>{{element.title}}</h3>
                    <p>{{element.content}}</p>
                    <small>from: {{element.author}}</small>
                    <button class="destroy" (click)="removeListElement(element)">Delete</button>
                    <button class="destroy" (click)="edit(element)">Edit</button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="list.length > 0">
        <span class="list-count"><strong>{{list.length}}</strong> {{list.length == 1 ? 'item' : 'items'}} in your list</span>
    </footer>
</section>
