<header class="header">
    <h1>List Maker</h1>
    <label>List Title:</label>
    <input class="input-title"
        placeholder="The title of this element"
        autofocus=""
        [(ngModel)]="newListElement.title">
    <label>Content:</label>
    <input class="input-content"
        placeholder="add the content"
        [(ngModel)]="newListElement.content">
    <label>Author:</label>
    <input  class="input-author"
        placeholder="add the author"
        [(ngModel)]="newListElement.author">
    <div class="button-container">
        <button *ngIf="!isEditMode" (click)="addListElement()">Add list</button>
        <button *ngIf="isEditMode" (click)="clearHeader()">Done Editing</button>
    </div>

</header>
